<h1>Welcome#about</h1>
<p>Hey, Mary! Thanks for checking this out i know its rough looking but I've wanted to try this for upwards of a year now but could never get myself to sit down and try. I hope you like it. It's really alot more fun than it looks and i understand why you wanted to spend so long working at it when you got home from work. I hope this gives us something new to talk about. P.S. You're <b>unbelievably</b> beautiful and absolutely intoxicating to be around. I hope this made you smile. ;) </p>
